body {
	background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)),url("./../Images/bakery.jpeg"), center no-repeat fixed;
	background-size: cover;
  font-size: larger;
  font-family: 'Josefin_Sans';
} 

div#footer {
  text-shadow: 4px 4px 4px #130f0f;
  text-align: center;
  font-variant: small-caps;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:rgb(120, 77, 46);
  padding:5px;
}

a {
	text-decoration: none;
	color: #2B065C;
}

a:hover {
	text-decoration: none;
	color: rgb(79, 30, 37);
}

nav {
  color: 1px 1px 1px #4F1E25;
  font-variant: small-caps;
	display: flex;
	align-items: center;
	gap: 15px;
}

hr {
  width: 5%;
  border-width: 7px;
}