@import url('https://fonts.googleapis.com/css2?family=Donegal+One&family=Jost&family=Karla:wght@300&family=Original+Surfer&family=Playfair&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-style {
  font-family: 'Karla';
  font-variant: small-caps;
  font-weight: 700;
}

body {
	background: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)),url("./../Images/bakery.jpeg"), center no-repeat fixed;
	background-size: cover;
  font-size: 1.25rem;
  font-family: 'Playfair';
  padding: 5%;
  margin: 0 auto;
} 

.container {
  background: #FFEFE6;
}

a {
	text-decoration: none;
	color: hsl(22, 83%, 19%);
}

a:hover {
	text-decoration: none;
	color: hsl(200, 72%, 31%);
}

nav {
  color: 1px 1px 1px #4F1E25;
  font-variant: small-caps;
	display: flex;
	align-items: center;
	gap: 15px;
}

hr {
  width: 5%;
  border-width: 7px;
}

div#footer {
  font-family: 'Playfair';
  text-align: center;
  font-variant: small-caps;
  font-size: 1.25rem;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#FFEFE6;
  text-shadow: 4px 4px 4px #130f0f;
  background:hsl(22, 71%, 45%);
}