@{
  Layout = "_Layout";
}

@using Bakery.Models
@model Bakery.Models.Order

<h4>Add a customer to order from the bakery.</h4>

<p>@Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Customer, "Customer:")
  @Html.TextBoxFor(model => model.Customer)

  <input type="submit" class="button" value="Add customer" />
}

<p>@Html.ActionLink("Back to order list", "Index")</p>